[Desktop Entry]
Version=1.0
Type=Application
Name=Hotspot Shield GUI
GenericName=VPN Client
Comment=Connect to Hotspot Shield VPN
Exec=@EXEC@
Icon=@ICON@
Terminal=false
Categories=Network;Security;
StartupNotify=true
Keywords=VPN;Hotspot;Shield;Privacy;
